.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #333;
  min-height: 200;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 40px;
}
.App-header h1{
  font-size: 72px;
  line-height: 0;
}
.App-link {
  color: #61dafb;
}
.table-container{
  max-width: 800px;
  margin: auto;
}
.news {
  min-height: 60px;
  padding: 20px;
  border-bottom: solid 1px #ccc ;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
  font-size: 13px;
  width: calc(100% - 40px);
}
.news:hover{
  background-color: #fafafa;
  cursor: pointer;
}
.news #trash {
    display: none;
    opacity: 0;
    transition-duration: 0.5s;
}
.news:hover #trash {
  display: block;
  opacity: 1;
}

.gray-text {
  color: #999;
}
.black-text {
  color: #333;
  font-weight: bold;
  white-space: nowrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
